* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-image: url(img/druivenveld.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    z-index: -1;
}

header h1 {
    color: white;
    font-size: 6rem;
    text-align: center;
    padding-top: 10rem;
    font-family: "amandine";
}

main {
    width: 80%;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 10rem;
    margin-top: -15rem;
}

main img {
    width: 10rem;
    height: auto;
    border-radius: 5px;
}

.info-likeur {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-likeur p {
    font-family: "arial";
    font-size: 1rem;
    width: 50%;
}

h1 {
    font-family: "amandine";
    font-size: 3rem;
}

@media only screen and (max-width: 800px) {
    .info-likeur {
        flex-direction: column;
    }

    .info-likeur p{
        width: 100%;
    }

    main img {
        width: 15rem;
        margin-left: 0;
        margin-bottom: 2rem;
        margin-top: 6rem;
    }
}

footer p {
    color: #000;
    font-family: "arial";
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 10px;
}

.socialmedia {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.socialmedia img {
    width: 3rem;
    height: auto;
    margin: 1rem;
    cursor: pointer;
}

#contact-btn {
    display: flex;
    width: 15rem;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding: 5px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: "amandine";
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#contact-btn:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


